.banner h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 21px;
}
.burger {
  border-radius: 100%;
  border: none;
  background-color: #072ac6;
}
.burger:hover {
  opacity: 0.8;
  cursor: pointer;
}
.banner-link {
  color: white;
}

.banner-link:hover {
  color: #d0d7f5 !important;
}

.banner h2 a:hover {
  color: #d0d7f5 !important;
}
.nav-links {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .banner h2 {
    font-size: 12px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.nav-links:hover {
  text-decoration: underline !important;
}

.contact-us-button:hover {
  background-color: #3355e9;
}

@media only screen and (max-width: 700px) {
}

@media (max-width: 767px) {
  .desktop-header-nav-wrapper {
    display: none;
  }
  .cta-button {
    display: none;
  }
  header {
    height: 80px;
    background-color: #072ac6;
    position: relative;
    z-index: 9999;
  }
}
